### Import Required Libraries and Set Up Environment Variables

In [3]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json
import os
from datetime import datetime
## Load the NASA_API_KEY from the env file
load_dotenv()
NASA_API_KEY = os.getenv('NASA_API_KEY')

### CME Data

In [4]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for CMEs:
CME = "CME"

# Search for CMEs published between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build URL for CME
query_url_CME = f"{base_url}{CME}?startDate={startDate}&endDate={endDate}&api_key={NASA_API_KEY}"

# Print the built URL to verify
print("CME URL:", query_url_CME)

CME URL: https://api.nasa.gov/DONKI/CME?startDate=2013-05-01&endDate=2024-05-01&api_key=eBGsZaargHGGIgrOyuvIfS79QdeZ1f48ptPDSMu3

In [5]:
# Make a "GET" request for the CME URL and store it in a variable named cme_response
cme_json = requests.get(query_url_CME)

# Check the response status code
if cme_json.status_code == 200:
    print("Request successful!")
else:
    print(f"Request failed with status code: {cme_json.status_code}")

Request successful!

In [6]:
# Convert the response variable to json and store it as a variable named cme_json
try:
    cme_json = cme_json.json()
    print("CME JSON data successfully parsed!")
except json.JSONDecodeError:
    print("Failed to parse JSON from the response.")

CME JSON data successfully parsed!

In [7]:
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
if isinstance(cme_json, list) and len(cme_json) > 0:
    first_result = cme_json[0]  # Get the first item in the list
    formatted_result = json.dumps(first_result, indent=4)  # Format with indentation
    print("First Result in JSON format:")
    print(formatted_result)
else:
    print("No results found or data is not in the expected format.")

First Result in JSON format:
{
    "activityID": "2013-05-01T03:12:00-CME-001",
    "catalog": "M2M_CATALOG",
    "startTime": "2013-05-01T03:12Z",
    "instruments": [
        {
            "displayName": "SOHO: LASCO/C2"
        },
        {
            "displayName": "SOHO: LASCO/C3"
        },
        {
            "displayName": "STEREO A: SECCHI/COR2"
        },
        {
            "displayName": "STEREO B: SECCHI/COR2"
        }
    ],
    "sourceLocation": "",
    "activeRegionNum": null,
    "note": "",
    "submissionTime": "2013-08-07T16:54Z",
    "versionId": 1,
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/2349/-1",
    "cmeAnalyses": [
        {
            "isMostAccurate": true,
            "time21_5": "2013-05-01T07:07Z",
            "latitude": 12.0,
            "longitude": -120.0,
            "halfAngle": 36.0,
            "speed": 860.0,
            "type": "C",
            "featureCode": "null",
            "imageType": null,
            "measurementTechnique": "null",
            "note": "",
            "levelOfData": 0,
            "tilt": null,
            "minorHalfWidth": null,
            "speedMeasuredAtHeight": null,
            "submissionTime": "2013-08-07T16:54Z",
            "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/2350/-1",
            "enlilList": [
                {
                    "modelCompletionTime": "2013-05-01T08:32Z",
                    "au": 2.0,
                    "estimatedShockArrivalTime": null,
                    "estimatedDuration": null,
                    "rmin_re": null,
                    "kp_18": null,
                    "kp_90": null,
                    "kp_135": null,
                    "kp_180": null,
                    "isEarthGB": false,
                    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/2348/-1",
                    "impactList": [
                        {
                            "isGlancingBlow": false,
                            "location": "STEREO B",
                            "arrivalTime": "2013-05-04T06:16Z"
                        }
                    ],
                    "cmeIDs": [
                        "2013-05-01T03:12:00-CME-001"
                    ]
                }
            ]
        }
    ],
    "linkedEvents": [
        {
            "activityID": "2013-05-04T04:52:00-IPS-001"
        }
    ]
}

In [8]:
# Expand display to better see head
pd.set_option('display.width', 1000)  # Set the display width to a large value
pd.set_option('display.max_columns', None)  # Show all columns without truncation
pd.set_option('display.max_rows', None)  # Optional: Show all rows without truncation

In [9]:
# Convert cme_json to a Pandas DataFrame 
if isinstance(cme_json, list):  # Ensure the data is a list
    cme_df = pd.DataFrame(cme_json)
    print("CME data successfully converted to a DataFrame!")
    #print(cme_df.head())  # Preview the first few rows of the DataFrame
else:
    print("The JSON data is not in the expected format (list). Conversion to DataFrame failed.")

# Keep only the specified columns
columns_to_keep = ["activityID", "startTime", "linkedEvents"]

if set(columns_to_keep).issubset(cme_df.columns):  # Check if all columns exist in the DataFrame
    cme_df = cme_df[columns_to_keep]
    print("DataFrame filtered to keep only the specified columns:")
    print(cme_df.head(10))    # Preview the filtered DataFrame
else:
    missing_columns = set(columns_to_keep) - set(cme_df.columns)
    print(f"The following columns are missing in the DataFrame: {missing_columns}")

CME data successfully converted to a DataFrame!
DataFrame filtered to keep only the specified columns:
                    activityID          startTime                                     linkedEvents
0  2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z  [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
1  2013-05-02T05:24:00-CME-001  2013-05-02T05:24Z                                             None
2  2013-05-02T14:36:00-CME-001  2013-05-02T14:36Z                                             None
3  2013-05-03T18:00:00-CME-001  2013-05-03T18:00Z                                             None
4  2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z  [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
5  2013-05-06T14:36:00-CME-001  2013-05-06T14:36Z                                             None
6  2013-05-08T12:39:00-CME-001  2013-05-08T12:39Z                                             None
7  2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z  [{'activityID': '2013-05-12T23:30:00-IPS-001'}]
8  2013-05-10T19:12:00-CME-001  2013-05-10T19:12Z                                             None
9  2013-05-11T23:54:00-CME-001  2013-05-11T23:54Z                                             None

In [10]:
cme_df.head(10)

                    activityID          startTime                                     linkedEvents
0  2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z  [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
1  2013-05-02T05:24:00-CME-001  2013-05-02T05:24Z                                             None
2  2013-05-02T14:36:00-CME-001  2013-05-02T14:36Z                                             None
3  2013-05-03T18:00:00-CME-001  2013-05-03T18:00Z                                             None
4  2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z  [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
5  2013-05-06T14:36:00-CME-001  2013-05-06T14:36Z                                             None
6  2013-05-08T12:39:00-CME-001  2013-05-08T12:39Z                                             None
7  2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z  [{'activityID': '2013-05-12T23:30:00-IPS-001'}]
8  2013-05-10T19:12:00-CME-001  2013-05-10T19:12Z                                             None
9  2013-05-11T23:54:00-CME-001  2013-05-11T23:54Z                                             None

In [11]:
cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5524 entries, 0 to 5523
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   activityID    5524 non-null   object
 1   startTime     5524 non-null   object
 2   linkedEvents  1023 non-null   object
dtypes: object(3)
memory usage: 129.6+ KB

In [12]:
# Notice that the linkedEvents column allows us to identify the corresponding GST
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to GSTs
cme_df = cme_df.dropna(subset=['linkedEvents'])
cme_df.head(10)

                     activityID          startTime                                       linkedEvents
0   2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z    [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
4   2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z    [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
7   2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z    [{'activityID': '2013-05-12T23:30:00-IPS-001'}]
10  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  [{'activityID': '2013-05-13T01:53:00-FLR-001'}...
13  2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z  [{'activityID': '2013-05-13T15:40:00-FLR-001'}...
14  2013-05-14T01:30:00-CME-001  2013-05-14T01:30Z    [{'activityID': '2013-05-14T01:00:00-FLR-001'}]
15  2013-05-15T02:18:00-CME-001  2013-05-15T02:18Z  [{'activityID': '2013-05-15T01:25:00-FLR-001'}...
17  2013-05-17T09:24:00-CME-001  2013-05-17T09:24Z    [{'activityID': '2013-05-19T22:20:00-IPS-001'}]
18  2013-05-18T03:24:00-CME-001  2013-05-18T03:24Z    [{'activityID': '2013-05-19T18:53:00-IPS-001'}]
20  2013-05-22T09:12:00-CME-001  2013-05-22T09:12Z    [{'activityID': '2013-05-25T20:00:00-IPS-001'}]

In [13]:
cme_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, 0 to 5523
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   activityID    1023 non-null   object
 1   startTime     1023 non-null   object
 2   linkedEvents  1023 non-null   object
dtypes: object(3)
memory usage: 32.0+ KB

In [14]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Write a nested for loop that iterates first over each row in the cme DataFrame (using the index)
# and then iterates over the values in 'linkedEvents' 
# and adds the elements individually to a list of dictionaries where each row is one element 

# Initialize an empty list to store the expanded rows
expanded_rows = []

# Iterate over each index in the DataFrame

    # Iterate over each dictionary in the list
    
        # Append a new dictionary to the expanded_rows list for each dictionary item and corresponding 'activityID' and 'startTime' value
for index, row in cme_df.iterrows():
    # Check if 'linkedEvents' is a list
    if isinstance(row['linkedEvents'], list):
        # Iterate over each linked event in the list
        for event in row['linkedEvents']:
            # Create a new dictionary for the expanded row
            expanded_row = {
                'activityID': row['activityID'],
                'startTime': row['startTime'],
                'linkedEvent': event  # Add each linked event individually
            }
            expanded_rows.append(expanded_row)
    else:
        # If 'linkedEvents' is not a list, add the row as-is (optional)
        expanded_row = {
            'activityID': row['activityID'],
            'startTime': row['startTime'],
            'linkedEvent': row['linkedEvents']
        }
        expanded_rows.append(expanded_row)
      
# Create a new DataFrame from the expanded rows
expanded_cme_df = pd.DataFrame(expanded_rows)
expanded_cme_df.head(10)

                    activityID          startTime                                    linkedEvent
0  2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z  {'activityID': '2013-05-04T04:52:00-IPS-001'}
1  2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z  {'activityID': '2013-05-07T04:37:00-IPS-001'}
2  2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z  {'activityID': '2013-05-12T23:30:00-IPS-001'}
3  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T01:53:00-FLR-001'}
4  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T04:12:00-SEP-001'}
5  2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z  {'activityID': '2013-05-13T15:40:00-FLR-001'}
6  2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z  {'activityID': '2013-05-13T18:02:00-SEP-001'}
7  2013-05-14T01:30:00-CME-001  2013-05-14T01:30Z  {'activityID': '2013-05-14T01:00:00-FLR-001'}
8  2013-05-15T02:18:00-CME-001  2013-05-15T02:18Z  {'activityID': '2013-05-15T01:25:00-FLR-001'}
9  2013-05-15T02:18:00-CME-001  2013-05-15T02:18Z  {'activityID': '2013-05-15T13:25:00-SEP-001'}

In [15]:
expanded_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   activityID   1714 non-null   object
 1   startTime    1714 non-null   object
 2   linkedEvent  1714 non-null   object
dtypes: object(3)
memory usage: 40.3+ KB

In [16]:
# Create a function called extract_activityID_from_dict that takes a dict as input such as in linkedEvents
# and verify below that it works as expected using one row from linkedEvents as an example
# Be sure to use a try and except block to handle errors

        # Log the error or print it for debugging
def extract_activityID_from_dict(event_dict):
    """
    Extract the activityID from a dictionary representing a linked event.

    Args:
        event_dict (dict): A dictionary containing event details.

    Returns:
        str: The activityID if it exists, otherwise None.
    """
    try:
        # Attempt to extract the 'activityID'
        activity_id = event_dict.get('activityID', None)
        return activity_id
    except AttributeError as e:
        # Log or print error for debugging
        print(f"Trial Error: Expected a dictionary but got {type(event_dict)}. Details: {e}")
        return None

# Example usage
example_event = {'activityID': '2013-05-04T04:52:00-IPS-001', 'eventType': 'IPS'}

# Verify the function works as expected
extracted_activity_id = extract_activityID_from_dict(example_event)
print("Extracted activityID:", extracted_activity_id)

# Test with invalid input
invalid_event = ['not', 'a', 'dict']
extracted_invalid = extract_activityID_from_dict(invalid_event)
print("Result for invalid input:", extracted_invalid)

Extracted activityID: 2013-05-04T04:52:00-IPS-001
Trial Error: Expected a dictionary but got <class 'list'>. Details: 'list' object has no attribute 'get'
Result for invalid input: None

In [17]:
#testing function
test_row = expanded_cme_df['linkedEvent'].iloc[0]
print("Test row:", test_row)
print("Extracted activityID:", extract_activityID_from_dict(test_row))

Test row: {'activityID': '2013-05-04T04:52:00-IPS-001'}
Extracted activityID: 2013-05-04T04:52:00-IPS-001

In [18]:
#verifying linkedEvent has activityID in it
expanded_cme_df.head()

                    activityID          startTime                                    linkedEvent
0  2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z  {'activityID': '2013-05-04T04:52:00-IPS-001'}
1  2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z  {'activityID': '2013-05-07T04:37:00-IPS-001'}
2  2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z  {'activityID': '2013-05-12T23:30:00-IPS-001'}
3  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T01:53:00-FLR-001'}
4  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T04:12:00-SEP-001'}

In [19]:
# Apply this function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'GST_ActivityID' using loc indexer:
expanded_cme_df.loc[:, 'GST_ActivityID'] = expanded_cme_df['linkedEvent'].apply(
    lambda event: extract_activityID_from_dict(event) if isinstance(event, dict) else None
)
expanded_cme_df.head()

                    activityID          startTime                                    linkedEvent               GST_ActivityID
0  2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z  {'activityID': '2013-05-04T04:52:00-IPS-001'}  2013-05-04T04:52:00-IPS-001
1  2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z  {'activityID': '2013-05-07T04:37:00-IPS-001'}  2013-05-07T04:37:00-IPS-001
2  2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z  {'activityID': '2013-05-12T23:30:00-IPS-001'}  2013-05-12T23:30:00-IPS-001
3  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T01:53:00-FLR-001'}  2013-05-13T01:53:00-FLR-001
4  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T04:12:00-SEP-001'}  2013-05-13T04:12:00-SEP-001

In [20]:
expanded_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityID      1714 non-null   object
 1   startTime       1714 non-null   object
 2   linkedEvent     1714 non-null   object
 3   GST_ActivityID  1714 non-null   object
dtypes: object(4)
memory usage: 53.7+ KB

In [21]:
# Remove rows with missing GST_ActivityID, since we can't assign them to GSTs:
#info above indicates no non-null columns in GST_ActivityID
expanded_cme_df = expanded_cme_df.dropna(subset=['GST_ActivityID'])
expanded_cme_df.head(10)

                    activityID          startTime                                    linkedEvent               GST_ActivityID
0  2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z  {'activityID': '2013-05-04T04:52:00-IPS-001'}  2013-05-04T04:52:00-IPS-001
1  2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z  {'activityID': '2013-05-07T04:37:00-IPS-001'}  2013-05-07T04:37:00-IPS-001
2  2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z  {'activityID': '2013-05-12T23:30:00-IPS-001'}  2013-05-12T23:30:00-IPS-001
3  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T01:53:00-FLR-001'}  2013-05-13T01:53:00-FLR-001
4  2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z  {'activityID': '2013-05-13T04:12:00-SEP-001'}  2013-05-13T04:12:00-SEP-001
5  2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z  {'activityID': '2013-05-13T15:40:00-FLR-001'}  2013-05-13T15:40:00-FLR-001
6  2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z  {'activityID': '2013-05-13T18:02:00-SEP-001'}  2013-05-13T18:02:00-SEP-001
7  2013-05-14T01:30:00-CME-001  2013-05-14T01:30Z  {'activityID': '2013-05-14T01:00:00-FLR-001'}  2013-05-14T01:00:00-FLR-001
8  2013-05-15T02:18:00-CME-001  2013-05-15T02:18Z  {'activityID': '2013-05-15T01:25:00-FLR-001'}  2013-05-15T01:25:00-FLR-001
9  2013-05-15T02:18:00-CME-001  2013-05-15T02:18Z  {'activityID': '2013-05-15T13:25:00-SEP-001'}  2013-05-15T13:25:00-SEP-001

In [22]:
# print out the datatype of each column in this DataFrame:
expanded_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activityID      1714 non-null   object
 1   startTime       1714 non-null   object
 2   linkedEvent     1714 non-null   object
 3   GST_ActivityID  1714 non-null   object
dtypes: object(4)
memory usage: 53.7+ KB

In [23]:
# Convert the 'GST_ActivityID' column to string format
# dtype above indicates GST_ActivityID is already an object

# Convert the 'GST_ActivityID' column to string format
expanded_cme_df['GST_ActivityID'] = expanded_cme_df['GST_ActivityID'].astype(str)

# Convert startTime to datetime format  
expanded_cme_df['startTime'] = pd.to_datetime(expanded_cme_df['startTime'], errors='coerce')

# Rename startTime to startTime_CME and activityID to cmeID
expanded_cme_df = expanded_cme_df.rename(columns={'startTime': 'startTime_CME', 'activityID': 'cmeID'})

# Drop linkedEvents
expanded_cme_df = expanded_cme_df.drop(columns=['linkedEvent'])

# Verify that all steps were executed correctly
expanded_cme_df.head(5)
#if this code is run more than once then have to go back to create dataframe step to recover

                         cmeID             startTime_CME               GST_ActivityID
0  2013-05-01T03:12:00-CME-001 2013-05-01 03:12:00+00:00  2013-05-04T04:52:00-IPS-001
1  2013-05-03T22:36:00-CME-001 2013-05-03 22:36:00+00:00  2013-05-07T04:37:00-IPS-001
2  2013-05-09T19:29:00-CME-001 2013-05-09 19:29:00+00:00  2013-05-12T23:30:00-IPS-001
3  2013-05-13T02:54:00-CME-001 2013-05-13 02:54:00+00:00  2013-05-13T01:53:00-FLR-001
4  2013-05-13T02:54:00-CME-001 2013-05-13 02:54:00+00:00  2013-05-13T04:12:00-SEP-001

In [24]:
#Using info to confirm data type change
expanded_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714 entries, 0 to 1713
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           1714 non-null   object
 1   startTime_CME   1714 non-null   datetime64[ns, UTC]
 2   GST_ActivityID  1714 non-null   object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 40.3+ KB

In [25]:
# We are only interested in CMEs related to GSTs so keep only rows where the GST_ActivityID column contains 'GST'
# use the method 'contains()' from the str library.  
expanded_cme_df = expanded_cme_df[expanded_cme_df['GST_ActivityID'].str.contains('GST', na=False)]
expanded_cme_df.head(10)

                           cmeID             startTime_CME               GST_ActivityID
21   2013-06-02T20:24:00-CME-001 2013-06-02 20:24:00+00:00  2013-06-07T03:00:00-GST-001
48   2013-09-29T22:40:00-CME-001 2013-09-29 22:40:00+00:00  2013-10-02T03:00:00-GST-001
90   2013-12-04T23:12:00-CME-001 2013-12-04 23:12:00+00:00  2013-12-08T00:00:00-GST-001
148  2014-02-16T14:15:00-CME-001 2014-02-16 14:15:00+00:00  2014-02-19T03:00:00-GST-001
151  2014-02-18T01:25:00-CME-001 2014-02-18 01:25:00+00:00  2014-02-20T03:00:00-GST-001
162  2014-02-25T01:25:00-CME-001 2014-02-25 01:25:00+00:00  2014-02-27T18:00:00-GST-001
196  2014-06-04T13:25:00-CME-001 2014-06-04 13:25:00+00:00  2014-06-08T03:00:00-GST-001
228  2014-08-15T21:12:00-CME-001 2014-08-15 21:12:00+00:00  2014-08-19T21:00:00-GST-001
255  2014-09-10T18:18:00-CME-001 2014-09-10 18:18:00+00:00  2014-09-12T15:00:00-GST-001
325  2015-03-15T02:00:00-CME-001 2015-03-15 02:00:00+00:00  2015-03-17T06:00:00-GST-001

In [26]:
# using info to see how many rows were deleted
expanded_cme_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 21 to 1689
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cmeID           61 non-null     object
 1   startTime_CME   61 non-null     datetime64[ns, UTC]
 2   GST_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 1.9+ KB

### GST Data

In [27]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for Geomagnetic Storms (GST):
GST = "GST"

# Search for GSTs between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build URL for GST
query_url_GST = f"{base_url}{GST}?startDate={startDate}&endDate={endDate}&api_key={NASA_API_KEY}"

# Print the built URL to verify
print("GST URL:", query_url_GST)

GST URL: https://api.nasa.gov/DONKI/GST?startDate=2013-05-01&endDate=2024-05-01&api_key=eBGsZaargHGGIgrOyuvIfS79QdeZ1f48ptPDSMu3

In [28]:
# Make a "GET" request for the GST URL and store it in a variable named gst_response
gst_response = requests.get(query_url_GST)

# Check the response status code
if gst_response.status_code == 200:
    print("Request successful!")
else:
    print(f"Request failed with status code: {gst_response.status_code}")

Request successful!

In [29]:
# Convert the response variable to json and store it as a variable named gst_json
try:
    gst_json = gst_response.json()
    print("GST JSON data successfully parsed!")
except json.JSONDecodeError:
    print("Failed to parse JSON from the response.")
    
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
if isinstance(gst_json, list) and len(gst_json) > 0:
    first_result = gst_json[0]  # Get the first item in the list
    gst_formatted_result = json.dumps(first_result, indent=4)  # Format with indentation
    print("First Result in JSON format:")
    print(gst_formatted_result)
else:
    print("No results found or data is not in the expected format.")

GST JSON data successfully parsed!
First Result in JSON format:
{
    "gstID": "2013-06-01T01:00:00-GST-001",
    "startTime": "2013-06-01T01:00Z",
    "allKpIndex": [
        {
            "observedTime": "2013-06-01T01:00Z",
            "kpIndex": 6.0,
            "source": "NOAA"
        }
    ],
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/326/-1",
    "linkedEvents": [
        {
            "activityID": "2013-05-31T15:45:00-HSS-001"
        }
    ],
    "submissionTime": "2013-07-15T19:26Z",
    "versionId": 1
}

In [30]:
# Convert gst_json to a Pandas DataFrame  
if isinstance(gst_json, list):  # Ensure the data is a list
    gst_df = pd.DataFrame(gst_json)
    print("GST data successfully converted to a DataFrame!")
    print(gst_df.head())  # Preview the first few rows of the DataFrame
else:
    print("The JSON data is not in the expected format (list). Conversion to DataFrame failed.")

# Keep only the columns: activityID, startTime, linkedEvents
gst_columns_to_keep = ["activityID", "startTime", "linkedEvents"]

if set(gst_columns_to_keep).issubset(gst_df.columns):  # Check if all columns exist in the DataFrame
    gst_df = gst_df[gst_columns_to_keep]
    print("DataFrame filtered to keep only the specified columns:")
    print(gst_df.head(10))    # Preview the filtered DataFrame
else:
    gst_missing_columns = set(gst_columns_to_keep) - set(gst_df.columns)
    print(f"The following columns are missing in the DataFrame: {gst_missing_columns}")

GST data successfully converted to a DataFrame!
                         gstID          startTime                                         allKpIndex                                               link                                       linkedEvents     submissionTime  versionId
0  2013-06-01T01:00:00-GST-001  2013-06-01T01:00Z  [{'observedTime': '2013-06-01T01:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...    [{'activityID': '2013-05-31T15:45:00-HSS-001'}]  2013-07-15T19:26Z          1
1  2013-06-07T03:00:00-GST-001  2013-06-07T03:00Z  [{'observedTime': '2013-06-07T03:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...    [{'activityID': '2013-06-02T20:24:00-CME-001'}]  2013-07-15T19:41Z          1
2  2013-06-29T03:00:00-GST-001  2013-06-29T03:00Z  [{'observedTime': '2013-06-29T03:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...                                               None  2013-09-25T04:48Z          2
3  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  [{'observedTime': '2013-10-02T06:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...  [{'activityID': '2013-09-29T22:40:00-CME-001'}...  2013-10-02T13:23Z          1
4  2013-12-08T00:00:00-GST-001  2013-12-08T00:00Z  [{'observedTime': '2013-12-08T03:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...  [{'activityID': '2013-12-04T23:12:00-CME-001'}...  2013-12-08T03:42Z          1
The following columns are missing in the DataFrame: {'activityID'}

#'activityID' likely meant to be 'gstID'.  Will modify code to deviate from markdown provided as challenge instructions.

In [31]:
print(gst_df.columns)

Index(['gstID', 'startTime', 'allKpIndex', 'link', 'linkedEvents', 'submissionTime', 'versionId'], dtype='object')

In [32]:
# Convert gst_json to a Pandas DataFrame  
if isinstance(gst_json, list):  # Ensure the data is a list
    gst_df = pd.DataFrame(gst_json)
    print("GST data successfully converted to a DataFrame!")
    print(gst_df.head())  # Preview the first few rows of the DataFrame
else:
    print("The JSON data is not in the expected format (list). Conversion to DataFrame failed.")

# Keep only the columns: gstID, startTime, linkedEvents
gst_columns_to_keep = ["gstID", "startTime", "linkedEvents"]

if set(gst_columns_to_keep).issubset(gst_df.columns):  # Check if all columns exist in the DataFrame
    gst_df = gst_df[gst_columns_to_keep]
    print("DataFrame filtered to keep only the specified columns:")
    print(gst_df.head(10))    # Preview the filtered DataFrame
else:
    gst_missing_columns = set(gst_columns_to_keep) - set(gst_df.columns)
    print(f"The following columns are missing in the DataFrame: {gst_missing_columns}")

GST data successfully converted to a DataFrame!
                         gstID          startTime                                         allKpIndex                                               link                                       linkedEvents     submissionTime  versionId
0  2013-06-01T01:00:00-GST-001  2013-06-01T01:00Z  [{'observedTime': '2013-06-01T01:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...    [{'activityID': '2013-05-31T15:45:00-HSS-001'}]  2013-07-15T19:26Z          1
1  2013-06-07T03:00:00-GST-001  2013-06-07T03:00Z  [{'observedTime': '2013-06-07T03:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...    [{'activityID': '2013-06-02T20:24:00-CME-001'}]  2013-07-15T19:41Z          1
2  2013-06-29T03:00:00-GST-001  2013-06-29T03:00Z  [{'observedTime': '2013-06-29T03:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...                                               None  2013-09-25T04:48Z          2
3  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  [{'observedTime': '2013-10-02T06:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...  [{'activityID': '2013-09-29T22:40:00-CME-001'}...  2013-10-02T13:23Z          1
4  2013-12-08T00:00:00-GST-001  2013-12-08T00:00Z  [{'observedTime': '2013-12-08T03:00Z', 'kpInde...  https://webtools.ccmc.gsfc.nasa.gov/DONKI/view...  [{'activityID': '2013-12-04T23:12:00-CME-001'}...  2013-12-08T03:42Z          1
DataFrame filtered to keep only the specified columns:
                         gstID          startTime                                       linkedEvents
0  2013-06-01T01:00:00-GST-001  2013-06-01T01:00Z    [{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1  2013-06-07T03:00:00-GST-001  2013-06-07T03:00Z    [{'activityID': '2013-06-02T20:24:00-CME-001'}]
2  2013-06-29T03:00:00-GST-001  2013-06-29T03:00Z                                               None
3  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  [{'activityID': '2013-09-29T22:40:00-CME-001'}...
4  2013-12-08T00:00:00-GST-001  2013-12-08T00:00Z  [{'activityID': '2013-12-04T23:12:00-CME-001'}...
5  2014-02-19T03:00:00-GST-001  2014-02-19T03:00Z  [{'activityID': '2014-02-16T14:15:00-CME-001'}...
6  2014-02-20T03:00:00-GST-001  2014-02-20T03:00Z  [{'activityID': '2014-02-18T01:25:00-CME-001'}...
7  2014-02-27T18:00:00-GST-001  2014-02-27T18:00Z  [{'activityID': '2014-02-25T01:25:00-CME-001'}...
8  2014-06-08T03:00:00-GST-001  2014-06-08T03:00Z  [{'activityID': '2014-06-04T13:25:00-CME-001'}...
9  2014-08-19T21:00:00-GST-001  2014-08-19T21:00Z  [{'activityID': '2014-08-15T21:12:00-CME-001'}...

In [33]:
gst_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gstID         117 non-null    object
 1   startTime     117 non-null    object
 2   linkedEvents  105 non-null    object
dtypes: object(3)
memory usage: 2.9+ KB

In [34]:
# Notice that the linkedEvents column allows us to identify the corresponding CME
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to CME
gst_df = gst_df.dropna(subset=['linkedEvents'])
gst_df.head()

                         gstID          startTime                                       linkedEvents
0  2013-06-01T01:00:00-GST-001  2013-06-01T01:00Z    [{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1  2013-06-07T03:00:00-GST-001  2013-06-07T03:00Z    [{'activityID': '2013-06-02T20:24:00-CME-001'}]
3  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  [{'activityID': '2013-09-29T22:40:00-CME-001'}...
4  2013-12-08T00:00:00-GST-001  2013-12-08T00:00Z  [{'activityID': '2013-12-04T23:12:00-CME-001'}...
5  2014-02-19T03:00:00-GST-001  2014-02-19T03:00Z  [{'activityID': '2014-02-16T14:15:00-CME-001'}...

In [35]:
gst_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105 entries, 0 to 116
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gstID         105 non-null    object
 1   startTime     105 non-null    object
 2   linkedEvents  105 non-null    object
dtypes: object(3)
memory usage: 3.3+ KB

In [36]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Use the explode method to ensure that each row is one element. Ensure to reset the index and drop missing values.

# Use explode to split multiple events into separate rows
gst_df = gst_df.explode('linkedEvents').reset_index(drop=True)

# Drop rows where 'linkedEvents' is still missing after exploding
gst_df = gst_df.dropna(subset=['linkedEvents'])

print("DataFrame after exploding 'linkedEvents':")
print(gst_df.head())

DataFrame after exploding 'linkedEvents':
                         gstID          startTime                                   linkedEvents
0  2013-06-01T01:00:00-GST-001  2013-06-01T01:00Z  {'activityID': '2013-05-31T15:45:00-HSS-001'}
1  2013-06-07T03:00:00-GST-001  2013-06-07T03:00Z  {'activityID': '2013-06-02T20:24:00-CME-001'}
2  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  {'activityID': '2013-09-29T22:40:00-CME-001'}
3  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  {'activityID': '2013-10-02T01:54:00-IPS-001'}
4  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  {'activityID': '2013-10-02T02:47:00-MPC-001'}

In [37]:
# using info to look at how many new rows were created.
gst_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gstID         205 non-null    object
 1   startTime     205 non-null    object
 2   linkedEvents  205 non-null    object
dtypes: object(3)
memory usage: 4.9+ KB

In [38]:
# Apply the extract_activityID_from_dict function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'CME_ActivityID' using loc indexer:
gst_df['CME_ActivityID'] = gst_df['linkedEvents'].apply(
    lambda x: extract_activityID_from_dict(x) if isinstance(x, dict) else None
)

# Remove rows with missing CME_ActivityID, since we can't assign them to CMEs:
gst_df = gst_df.dropna(subset=['CME_ActivityID'])

gst_df.head()

                         gstID          startTime                                   linkedEvents               CME_ActivityID
0  2013-06-01T01:00:00-GST-001  2013-06-01T01:00Z  {'activityID': '2013-05-31T15:45:00-HSS-001'}  2013-05-31T15:45:00-HSS-001
1  2013-06-07T03:00:00-GST-001  2013-06-07T03:00Z  {'activityID': '2013-06-02T20:24:00-CME-001'}  2013-06-02T20:24:00-CME-001
2  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  {'activityID': '2013-09-29T22:40:00-CME-001'}  2013-09-29T22:40:00-CME-001
3  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  {'activityID': '2013-10-02T01:54:00-IPS-001'}  2013-10-02T01:54:00-IPS-001
4  2013-10-02T03:00:00-GST-001  2013-10-02T03:00Z  {'activityID': '2013-10-02T02:47:00-MPC-001'}  2013-10-02T02:47:00-MPC-001

In [39]:
# using info to see how many new rows were created.
gst_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime       205 non-null    object
 2   linkedEvents    205 non-null    object
 3   CME_ActivityID  205 non-null    object
dtypes: object(4)
memory usage: 6.5+ KB

In [40]:
# df info above indicates that CME_ActivityID and gstID are already objects, but will code conversion again.
# Convert the 'CME_ActivityID' column to string format 
gst_df['CME_ActivityID'] = gst_df['CME_ActivityID'].astype(str)

# Convert the 'gstID' column to string format 
gst_df['gstID'] = gst_df['gstID'].astype(str)

# Convert startTime to datetime format  
gst_df['startTime'] = pd.to_datetime(gst_df['startTime'], errors='coerce')

# Rename startTime to startTime_GST 
gst_df = gst_df.rename(columns={'startTime': 'startTime_GST'})

# Drop linkedEvents
gst_df = gst_df.drop(columns=['linkedEvents'])

# Verify that all steps were executed correctly
gst_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           205 non-null    object
 1   startTime_GST   205 non-null    datetime64[ns, UTC]
 2   CME_ActivityID  205 non-null    object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 4.9+ KB

In [41]:
# We are only interested in GSTs related to CMEs so keep only rows where the CME_ActivityID column contains 'CME'
# use the method 'contains()' from the str library.  
gst_df = gst_df[gst_df['CME_ActivityID'].str.contains('CME', na=False)]

#print("Filtered DataFrame with only GSTs related to CMEs:")
gst_df.head()

                         gstID             startTime_GST               CME_ActivityID
1  2013-06-07T03:00:00-GST-001 2013-06-07 03:00:00+00:00  2013-06-02T20:24:00-CME-001
2  2013-10-02T03:00:00-GST-001 2013-10-02 03:00:00+00:00  2013-09-29T22:40:00-CME-001
5  2013-12-08T00:00:00-GST-001 2013-12-08 00:00:00+00:00  2013-12-04T23:12:00-CME-001
7  2014-02-19T03:00:00-GST-001 2014-02-19 03:00:00+00:00  2014-02-16T14:15:00-CME-001
9  2014-02-20T03:00:00-GST-001 2014-02-20 03:00:00+00:00  2014-02-18T01:25:00-CME-001

In [42]:
# Using info to see how many new rows were created.
gst_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 1 to 203
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           61 non-null     object
 1   startTime_GST   61 non-null     datetime64[ns, UTC]
 2   CME_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 1.9+ KB

### Merge both datatsets

In [43]:
# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst and 'GST_ActivityID' and 'cmeID' for cme. Use the 'left_on' and 'right_on' specifiers.
merged_df = gst_df.merge(
    expanded_cme_df,
    left_on=['gstID', 'CME_ActivityID'],  # Columns from gst_df
    right_on=['GST_ActivityID', 'cmeID'],  # Columns from cme_df
    how='inner'  # Use 'inner' or 'left' based on your requirements
)

merged_df.head()

                         gstID             startTime_GST               CME_ActivityID                        cmeID             startTime_CME               GST_ActivityID
0  2013-06-07T03:00:00-GST-001 2013-06-07 03:00:00+00:00  2013-06-02T20:24:00-CME-001  2013-06-02T20:24:00-CME-001 2013-06-02 20:24:00+00:00  2013-06-07T03:00:00-GST-001
1  2013-10-02T03:00:00-GST-001 2013-10-02 03:00:00+00:00  2013-09-29T22:40:00-CME-001  2013-09-29T22:40:00-CME-001 2013-09-29 22:40:00+00:00  2013-10-02T03:00:00-GST-001
2  2013-12-08T00:00:00-GST-001 2013-12-08 00:00:00+00:00  2013-12-04T23:12:00-CME-001  2013-12-04T23:12:00-CME-001 2013-12-04 23:12:00+00:00  2013-12-08T00:00:00-GST-001
3  2014-02-19T03:00:00-GST-001 2014-02-19 03:00:00+00:00  2014-02-16T14:15:00-CME-001  2014-02-16T14:15:00-CME-001 2014-02-16 14:15:00+00:00  2014-02-19T03:00:00-GST-001
4  2014-02-20T03:00:00-GST-001 2014-02-20 03:00:00+00:00  2014-02-18T01:25:00-CME-001  2014-02-18T01:25:00-CME-001 2014-02-18 01:25:00+00:00  2014-02-20T03:00:00-GST-001

In [44]:
# Verify that the new DataFrame has the same number of rows as cme and gst
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gstID           61 non-null     object
 1   startTime_GST   61 non-null     datetime64[ns, UTC]
 2   CME_ActivityID  61 non-null     object
 3   cmeID           61 non-null     object
 4   startTime_CME   61 non-null     datetime64[ns, UTC]
 5   GST_ActivityID  61 non-null     object
dtypes: datetime64[ns, UTC](2), object(4)
memory usage: 3.0+ KB

In [45]:
# Get the row counts of each DataFrame
cme_rows = expanded_cme_df.shape[0]
gst_rows = gst_df.shape[0]
merged_rows = merged_df.shape[0]

# Print the row counts for verification
print(f"Number of rows in CME DataFrame: {cme_rows}")
print(f"Number of rows in GST DataFrame: {gst_rows}")
print(f"Number of rows in Merged DataFrame: {merged_rows}")

# Check if the row counts match
if merged_rows == cme_rows == gst_rows:
    print("The merged DataFrame has the same number of rows as both original DataFrames.")
else:
    print("The row counts differ between the merged DataFrame and the original DataFrames.")

Number of rows in CME DataFrame: 61
Number of rows in GST DataFrame: 61
Number of rows in Merged DataFrame: 61
The merged DataFrame has the same number of rows as both original DataFrames.

### Computing the time it takes for a CME to cause a GST

In [46]:
# Compute the time diff between startTime_GST and startTime_CME by creating a new column called `timeDiff`.
merged_df['timeDiff'] = merged_df['startTime_GST'] - merged_df['startTime_CME']

merged_df.head()

                         gstID             startTime_GST               CME_ActivityID                        cmeID             startTime_CME               GST_ActivityID        timeDiff
0  2013-06-07T03:00:00-GST-001 2013-06-07 03:00:00+00:00  2013-06-02T20:24:00-CME-001  2013-06-02T20:24:00-CME-001 2013-06-02 20:24:00+00:00  2013-06-07T03:00:00-GST-001 4 days 06:36:00
1  2013-10-02T03:00:00-GST-001 2013-10-02 03:00:00+00:00  2013-09-29T22:40:00-CME-001  2013-09-29T22:40:00-CME-001 2013-09-29 22:40:00+00:00  2013-10-02T03:00:00-GST-001 2 days 04:20:00
2  2013-12-08T00:00:00-GST-001 2013-12-08 00:00:00+00:00  2013-12-04T23:12:00-CME-001  2013-12-04T23:12:00-CME-001 2013-12-04 23:12:00+00:00  2013-12-08T00:00:00-GST-001 3 days 00:48:00
3  2014-02-19T03:00:00-GST-001 2014-02-19 03:00:00+00:00  2014-02-16T14:15:00-CME-001  2014-02-16T14:15:00-CME-001 2014-02-16 14:15:00+00:00  2014-02-19T03:00:00-GST-001 2 days 12:45:00
4  2014-02-20T03:00:00-GST-001 2014-02-20 03:00:00+00:00  2014-02-18T01:25:00-CME-001  2014-02-18T01:25:00-CME-001 2014-02-18 01:25:00+00:00  2014-02-20T03:00:00-GST-001 2 days 01:35:00

In [47]:
# Use describe() to compute the mean and median time 
# that it takes for a CME to cause a GST. 

merged_df.describe()

                        timeDiff
count                         61
mean   2 days 23:29:26.557377049
std    0 days 23:53:09.336914240
min              1 days 08:36:00
25%              2 days 04:00:00
50%              2 days 19:51:00
75%              3 days 13:35:00
max              6 days 03:00:00

### Exporting data in csv format

In [49]:
# Export data to CSV without the index
output_file = "merged_data.csv"
merged_df.to_csv(output_file, index=False)